*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
.DS_Store
/build
/build-logic/build
/build-logic/convention/build
/core/common/build
/core/data/build
/core/database/build
/core/domain/build
/core/ui/build
/feature/auth/build
/feature/dashboard/build
/feature/transaction/build
/captures
.externalNativeBuild
.cxx
local.properties
